.fuente-titulo{
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}
.fuente-slogan{
  font-family: 'Shadows Into Light', cursive;
}
.row{
  background-color: #DBE6EE;
  opacity: 0.9;
}
.Comida-principal{
  background-image: url(../img/comida.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.busqueda{
  margin: auto;
  margin-top: 2%;
}
div .images{
  margin-bottom: 10px;
  height: 90px;
  width: 440px;
}
h6{
  color: blue;
}
.coments{
  border: 1px solid black;
  border-radius: 4px;
  height: 5rem;
  margin-right: 2px;
  margin-left: 2px;
}
.foto-comentario{
  height: 100%;
  width: 100%;
  padding: 3px;
}
