html{
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contenedor-principal{

  max-width: 90%;
  margin: auto;
}
.fotoprincipal{
  margin-left: 10%;
  margin-top: 10%;
}
.cabecera{
  height: 7rem;
}
.social{
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
}
.perfil{
  border-radius: 50%;
  margin-left: 35%;
}
